footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 50px;
    border-radius: 2px;
    padding: 25px;
    padding: 0 calc((100% - 1280px) / 2);
}

@media only screen and (min-width: 1280px) {
    footer {
        flex-direction: row;
        height: 120px;
    }
}

.footer__left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width: 1280px) {
    .footer__left {
        flex-basis: 50%;
        justify-content: center;
        align-items: flex-start;
    }
}

.footer__logo {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 0;
}

@media only screen and (min-width: 1280px) {
    .footer__logo {
        margin: 4px 0;
    }
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

@media only screen and (min-width: 1280px) {
    .footer__right {
        flex-basis: 50%;
        justify-content: center;
        align-items: flex-end;
        margin: 0;
    }
}

.footer__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6px 0;
    justify-content: space-around;
}

@media only screen and (min-width: 1280px) {
    .footer__list {
        flex-direction: row;
    }
}

.copyright {
    text-align: center;
    margin: 16px 0;
    color: rgba(151, 150, 150, 0.753);
}

.footer__item {
    position: relative;
    margin: 10px 0;
}

@media only screen and (min-width: 1280px) {
    .footer__item:not(:first-child) {
        margin: 0px 15px;
    }
}

.footer__item::after {
    position: absolute;
    bottom: -12px;
    content: '';
    height: 3px;
    width: 22px;
    left: 25%;
    background-color: rgb(184, 181, 181);
    transition: all 0.5s;
    opacity: 0;
}

.footer__item:hover::after {
    opacity: 1;
}