footer{
display: flex;
flex-direction: column;
background-color: black;
height: 120px;
margin-top: 50px;
border-radius: 2px;
padding: 25px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.logo-down{
    align-self: center;
    flex-basis: 260px;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    margin: 4px 0;
    
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center
}

.menu-footer-down-list{
    display: flex;
    flex-basis: 400px;
    margin: 6px 0;
    justify-content: space-around;
}

.copyright{
    margin: 4px 0;
    color: rgba(151, 150, 150, 0.753);
}

.item-down-nav{
    position: relative;
}

.item-down-nav::after{
        position: absolute; 
        bottom: -12px;
        content: "" ;
        height: 3px;
        width: 22px;
        left: 21%;
        background-color: rgb(184, 181, 181);
        transition: all 0.5s;
        opacity: 0;
    }
    .item-down-nav:hover::after{
        opacity: 1;
    }

    .social {
        position: relative;
        height: 25px;
        width: 25.6px;
        cursor: pointer;
        background-size: cover;
        margin: 0 12px;
    }



.social-facebook {
    background-image: url('/images/icon-facebook.svg');
}
.social-twitter{
    background-image: url('/images/icon-twitter.svg');
    width: 27px;
}
.social-pinterest{
    background-image: url('/images/icon-pinterest.svg');
}
.social-instagram{
    background-image: url('/images/icon-instagram.svg');
}


.socials{
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
}

.social::after {
    position: absolute; 
    bottom: -10px;
    content: "" ;
    height: 3px;
    width: 25px;
    left: 0;
    background-color: white;
    transition: all 0.3s;
    opacity: 0;
}

.social:hover::after{
    opacity: 1;
}

















