

body {
list-style-type: none;
padding: 0px;
margin: 0px;
font-family: 'Alata', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.nav__logo{ 
display: flex;
flex: 1 1 200px;
margin: 20px 0 0 20px;
background-image: url(./images/logo.svg);
background-size: contain ;
background-repeat: no-repeat;
font-family:'Courier New', Courier,monospace;
font-size: 2rem;
color: #ebe7e7;
}

.nav__list{
    display: flex;
    justify-content: flex-end;
}

.nav__item{
margin-top: 30px;
flex: 0 1 100px;
}


.nav-item::after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 38px;
    height: 2px;
    background-color: silver;
    transition: all 0.3s ;
    opacity: 0;
}

.nav-item:hover::after{
    opacity: 1;
}

a {
font-size: 0.9rem;
text-decoration: none;
color: white;
}
ul {
list-style-type: none; 
}






.background__image{
background:linear-gradient( rgba(20, 0, 14, 0.39) 100%, rgba(26, 18, 18, 0.884)100%), url(/image-hero.jpg);
height:76vh;
width: 85%;
background-repeat: no-repeat;
background-size: cover;
position: relative;
margin: auto;
padding-top:1%;
}



.background__title{
position: absolute;
top: 30%;
left: 22%;
right: 5%;
bottom: 0%;
width: 600px;
height: 240px;
padding-left: 0.5%;
letter-spacing: 5px; 
border: 2px solid rgb(209, 211, 209);
}

h1.background__title{
text-transform: uppercase;
font-size:3.7rem;
color: rgba(255, 255, 255, 0.89);
font-weight:normal;
}

