

body {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Alata', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.nav__logo{ 
    flex-grow: 1;
    background-image: url(./images/logo.svg);
    background-size: contain ;
    background-repeat: no-repeat;
    height: 20px;
    font-size: 2rem;
    color: #ebe7e7;
}


.nav__list{
    display: flex;
    justify-content: flex-end;
}

.nav__item{
    margin: 0 20px;
    position: relative;
}
.nav__item:last-child{
    margin-right:  0;
}


.nav__item::after{
    position: absolute;
    content: "";
    bottom: -10px;
    left: 11px;
    width: 20px;
    height: 2px;
    background-color: silver;
    transition: all 0.3s ;
    opacity: 0;
}



.nav__item:hover::after{
    opacity: 1;
}

a {
font-size: 0.9rem;
text-decoration: none;
color: white;
}
ul {
    margin: 0;
    padding: 0;
list-style-type: none; 
}

.background__image{
    display: flex;
    flex-direction: column;
background:linear-gradient( rgba(20, 0, 14, 0.39) 100%, rgba(26, 18, 18, 0.884)100%), url(/image-hero.jpg);
height: 600px;
background-repeat: no-repeat;
background-size: 100% auto;
}

.background__title{
width: 650px;
height: 250px;
padding: 20px 0 ;
font-size: 3.8rem;
letter-spacing: 5px;
text-transform:uppercase ;
text-align: center;
color: #ffff;
border: 2px solid rgb(209, 211, 209);
}

.nav-title-wrapper{
    display: flex;
    flex-direction: column;
    height:100% ;
}
.title-wrapper{
    display: flex;
    align-items:center;
    flex-grow: 1;
}




