.man-vr-image{
    display: flex;
    margin: 6% 18% ;
    width: 35%;
    height: 2%;
    position: relative;
}



.paragraph-right-side{
font-size: 1.4rem;
color: gray;
}

.right-text-side-all{
    position: absolute;
    top: 104%;
    right: 20%;
color: rgba(10, 0.5, 0,1);
z-index: 11;
}

.headlines-right-side{
text-transform: uppercase;
word-spacing: 3px;
font-size: 2.5rem;
font-weight: 100;
}

.white-rectangle{
    position: absolute;
    left: 45%;
    top: 102%;
    width: 700px;
    height: 350px;
    border: 5px solid white;
    background-color: #fff;
}

.see-all-button{
align-self: flex-start;
flex: 0 1 140px;
height:40px ;
color:black;
background-color: #fff;
font-weight: bold;
cursor: pointer;
text-decoration: none;
border-radius: 2px;
text-transform: uppercase;
transition:0.4s;
order: 2;
}

.see-all-button:hover{
background-color: black;
color: whitesmoke;
}
.container{
    display: flex;
    justify-content: space-around;
    flex: 0 1 150px;
}

.headlines-creations{
    display: flex;
    justify-content: flex-end;
    flex: 0 1 19%;
    font-size:1.9rem;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    position: relative;
    }
    
    .first-column-images ,.second-column-images{
        display: flex;
    justify-content:center;
    }

    .img{
        transition: filter .5s ease-in-out;
        filter: grayscale(100%)
    }
    
    .img:hover{
        transform: translateY(10px);
        filter: none;
    }
    
    .img::after{
        background: linear-gradient(to bottom,rgba(0,176,155,0.3),rgba(150,201,61,1));
        display: block;
        width: 100%;
        height:100%;
        z-index: 2;
        transition: .5s lin;
        opacity:1;
        
    }
    
    
    .img{
        margin-left: 1%;
        border-radius: 8px;
        cursor: pointer;
    }
    
    .second-column-images {
        margin-top: 1%;
    }
    .title-images{
        font-size: 1.3rem;
        text-transform: uppercase;
        color: black
    }
    
    
    