
* {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif sans-serif;
}

.attribution {
font-size: 11px; text-align: center; 
}

.attribution a {
color: hsl(228, 45%, 44%) 
}


    .logo{
        font-family:'Courier New', Courier, monospace;
        font-weight: bold;
        position: absolute;
        font-size: 1.4rem;
        top: 3%;
        left: 16%;
        right: 0%;
        bottom: 0%;
        color: #ebe7e7;
    }
    .menuUp{
        display: flex;
        justify-content:flex-end;
        align-items: center;
    }
    .itemUpNav{
        display: flex;
        justify-content: space-around ;
        min-height: 6vh;
        width: 8%;
        margin-top: 2.5%;
        list-style: none;
        text-decoration: none;
        z-index: 999;
    }
a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.9rem;
}
li a:hover{
    transition: 0.3s;
    text-decoration: underline white ;
    cursor: pointer;
}

.bg-img{
background-image: url(/image-hero.jpg);
height:60vh;
width: 83%;
background-repeat: no-repeat;
background-size: cover;
margin: auto;
}
#rectangle {
	width: 26%;
	height: 19%;
	background-color: rgba(255, 255, 255, 0.04); 
	margin: 40px auto;
    position:absolute;
    top: 22.5%;
    left: 0%;
    right: 37%;
    bottom: 0%;
    z-index:50;
    
}
.blackMainBox{
    position: absolute;
    top: 28%;
    left: 20%;
    right: 8%;
    bottom: 0%;
    padding-left: 0.5%;
    
    letter-spacing: 5px;
    z-index: 55;
}

h1.blackMainBox{
    text-transform: uppercase;
    font-size:3rem;
    color: white;
    font-weight: bold;
}

.man{
    position: relative;
    margin: 4% 21% ;
    width: 30vw;
    height: 50vh;
    display: flex;
    justify-content:space-between;
    z-index: 10;
}
.interactive{
word-spacing:1px ;
text-transform: uppercase;
}
.mainSectionP{
font-size: 1.2rem;
color: gray;
}

.textAll{
    position: absolute;
    top: 80%;
    right: 15%;
color: rgba(10, 1, 0,1);
z-index: 11;
}
.upperCase{
text-transform: uppercase;
word-spacing: 3px;
font-size: 2.5rem;
margin-bottom: 5%;
margin-left: 5%;
}

.rectangle{
    margin-right: 20%;
width:550px;
height:200px;
border:1px solid #000; 
position: relative;
right: 10%;
z-index: 20;
}

.see{
padding: 0% 1%;
width: 130px;
height: 40px;
color:black;
font-weight: 400;
cursor: pointer;
text-decoration: none;
border-radius: 3px;
margin: 1% 0% 0% 70%;
text-transform: uppercase;
transition:0.4s;
}

.see:hover{
background-color: black;
color: whitesmoke;
}

.creations{
position: absolute;
left: 22%;
font-size:1.8rem;
text-transform: uppercase;
font-weight: normal;
letter-spacing: 1px;
}


.firstColumnImages{
display: flex;
justify-content:center;
margin-top: 5%;


}
.img1, .img2,.img3,.img4{
    margin-left: 1.5%;
    cursor: pointer;
}

.secondColumnImages{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.img5, .img6,.img7,.img8 {
margin-left: 1.5%;
}
.img1, .img2,.img3,.img4,.img5, .img6,.img7,.img8{
    cursor: pointer;
}

.img1, .img2,.img3,.img4,.img5, .img6,.img7,.img8:hover{

}



.blackFooter{
    background-color: black;
    width: auto;
    height: 120px;
}

footer{
    margin-top: 5%;
    position: relative;
    color: wheat;
}
.menuDown{
    color: black;
    display: flex;
justify-content: space-between;
width: 20%;
margin-left: 3%;
}
.itemDownNav{
    margin-top: 13%;
}
.logoDown{
    position: relative;
    top: 28%;
    left: 3%;
color: white;
font-family:'Courier New', Courier, monospace;
        font-weight: bold;
}

.copyright{
    position: absolute;
    left: 80%;
    bottom: 20%;
}

.social{
    position: absolute;
    top: 20%;
    left: 86%;
}
.social2{
    position: absolute;
    top: 22%;
    left: 88%;
}
.social3{
    position: absolute;
    top: 20%;
    left: 89.8%;
}
 .social4{
    position: absolute;
    top: 21%;
    left: 91.8%;
} 
.iconSocial{
    cursor: pointer;
    transition: 0.5s;
   
}
div.iconSocial > .social:hover{
}











