.social__item {
    position: relative;
    height: 25px;
    width: 25.6px;
    cursor: pointer;
    background-size: cover;
    margin: 0 12px;
}

.social-facebook {
    background-image: url('/images/icon-facebook.svg');
}

.social-twitter {
    background-image: url('/images/icon-twitter.svg');
    width: 27px;
}

.social-pinterest {
    background-image: url('/images/icon-pinterest.svg');
}

.social-instagram {
    background-image: url('/images/icon-instagram.svg');
}

.social__container {
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
}

.social__item::after {
    position: absolute;
    bottom: -10px;
    content: '';
    height: 3px;
    width: 25px;
    left: 0;
    background-color: white;
    transition: all 0.3s;
    opacity: 0;
}

.social__item:hover::after {
    opacity: 1;
}
